DATABASE_URL=mongodb://localhost:27017/synchdb
DATABASE_SSL=false

# Google Service Account Credentials
GOOGLE_PROJECT_ID=secret_key
GOOGLE_PRIVATE_KEY_ID=secret_key
GOOGLE_PRIVATE_KEY="secret_key"
GOOGLE_CLIENT_EMAIL=secret_key
GOOGLE_CLIENT_ID=secret_key
GOOGLE_CLIENT_X509_CERT_URL=secret_key

# Google OAuth2 Config
GOOGLE_OAUTH2_CLIENT_ID=secret_key
GOOGLE_OAUTH2_CLIENT_SECRET=secret_key
GOOGLE_OAUTH2_REDIRECT_URI=https://ccb3-125-235-2-218.ngrok-free.app/auth/google/callback

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=720h

# App Configuration
PORT=3000
NODE_ENV=development
